*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  min-height: 100vh;
  background: url(/images/images.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 49%;
}
.header{
  box-sizing: border-box;
  background: black;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
  transition: 0.35s ease;
  border-radius: 20px;
  width: fill;
  margin: 15px 20px;
  z-index: 100;
  position: static; /* Position is static */
  padding: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.Logo{
  font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    color: darkgrey;
}
.navbar a{
  position: relative;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
  color: darkgrey;
  font-size: 40px;
}
.Logo:hover{
  background-color: darkgrey;
  color: black;
  border-radius: 5px;
}
.navbar a:hover{
  background-color: darkgrey;
  color: black;
  border-radius: 5px;
}
.game-card {
  display: inline-block;
  width: 215px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  margin: 9.5px;
}
.game-card:hover {
  transform: scale(0.9);
  z-index: 999999999;
  box-shadow: black;
  border-color: black;
}

.game-card:active{
  border-color: transparent;
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card .content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: ease 300ms;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.game-card .title {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 1.4;
}

.game-card:hover .content {
  opacity: 1;
}
.NG {
  font-size: 25px;
  color: red;
}
.input-box {
  font-family: "Roboto", serif;
  text-align: center;
  font-weight: 400;
  color: #faf9f6;
  
}
.input-container {
  outline: none;
  transition: 0.3s;
  border: 0px solid var(--theme);
  font-size: 16px;
  margin: 20px 0px;
}

.input-container:default {
  border-width: 2px;

}

#searchInput {
  padding: 1vw;
  width: 40%;
  border-radius: 5px;
  background: black;
  font-size: 24px;
  border: none;
  outline: none;
  color: #faf9f6;
  transition: 0.2s;
  margin: 0px 0px 20px 0px;
  transition: 0.3s;

  
  
}
.text {
  font-size: 55px;
  color: black;
  text-align: center;
}